body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  background: #272727;
}

.instructions {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: none;
}

.app-title {
  font-family: "Arial", sans-serif;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 4px #000; /* Strong black text shadow */
  margin-bottom: 10px; /* Add some space between title and description */
}

.app-description {
  font-family: "Arial", sans-serif;
  font-size: 1em;
  color: #fff;
  text-shadow: 2px 2px 4px #000; /* Strong black text shadow */
}

/* Adjustments for mobile devices */
@media only screen and (max-width: 600px) {
  .instructions {
    top: 80%;
    left: 10%;
    transform: translate(0, 0);
  }
  .app-title {
    font-size: 1em;
    margin-bottom: 10px; /* Add some space between title and description */
  }

  .app-description {
    font-size: 0.8em;
  }
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.github-corner img {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}
